[tool.poetry]
name = "mkdocs-gen-files"
version = "0.3.5"
description = "MkDocs plugin to programmatically generate documentation pages during the build"
authors = ["Oleh Prypin <oleh@pryp.in>"]
license = "MIT"
repository = "https://github.com/oprypin/mkdocs-gen-files"
keywords = ["mkdocs", "mkdocs-plugin"]
readme = "README.md"

[tool.poetry.plugins."mkdocs.plugins"]
gen-files = "mkdocs_gen_files.plugin:GenFilesPlugin"

[tool.poetry.dependencies]
python = "^3.7"
mkdocs = "^1.0.3"
#min jinja2 = ">=2.10.1"
#min markupsafe = ">=2.0.1"

[tool.poetry.dev-dependencies]
pytest = "^6.1.2"
pytest-golden = ">=0.2.0"
black = ">=20.8b1"
isort = "^5.6.4"
autoflake = "^1.4"
pytype = {version = ">=2021.04.15", markers = "python_version>='3.6' and python_version<'3.10' and sys_platform!='win32'"}  # Skip on Windows

[tool.black]
line-length = 100

[tool.isort]
line_length = 100
multi_line_output = 3
include_trailing_comma = true
force_grid_wrap = 0
use_parentheses = true
ensure_newline_before_comments = true

[tool.pytest.ini_options]
addopts = "--tb=native"
enable_assertion_pass_hook = true
filterwarnings = ["ignore::DeprecationWarning:.*:",
                  "default::DeprecationWarning:mkdocs_gen_files.*:"]

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
